@import './styles.css';

.container {
    width: min(500px, 30vh);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;

    padding: 2em 1em
}


.container input {
    width: 30vw;
    /* height: 2em; */
    background-color: var(--primary-color-darker);

    border: solid 2px #41403E;

    /* padding: var(--in-padding); */
    padding-top: 1.5em;
    padding-bottom: 1.5em;

    text-align: center;

    color: var(--text-color);
    font-size: 20px;
}

.container button {
    /*width: 30%;*/

    border: solid 2px #41403E;

    background-color: var(--primary-color);


    font-size: var(--normal-font-size);
    display: inline-block;

    transition: all 200ms;

    cursor: pointer;
    padding: .5em;
}

.container button:hover {
    transform: translateY(-2px) scale(1.02);
    transition: all 200ms;
    background-color: var(--primary-color-darker);
}

.root {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--primary-color);
}